/**** CSS Reset ****/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp,
smbackground, strike, strong,
dl, dt, dd, ol, ul, li,
figure, figcaption,
iframe,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: text-top;
	background: transparent;
}
a, a:hover 	{
    text-decoration: none; 
    transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; 
}


/**** Font ****/
@font-face {
    font-family: 'myEmprint';
    src: url('../font/EMprint-Regular.ttf');
	font-display: swap;
}

@font-face {
    font-family: 'myEmprintBd';
    src: url('../font/EMprint-Bold.ttf');
	font-display: swap;
}

@font-face {
    font-family: 'myEmprintLt';
    src: url('../font/EMprint-Light.ttf');
	font-display: swap;
}
@font-face {
    font-family: 'myEmprintSb';
    src: url('../font/EMprint-Semibold.ttf');
	font-display: swap;
}
/*****************/

.head{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
	background: rgb(58,57,123);
	background: radial-gradient(circle, rgba(58,57,123,1) 0%, rgba(12,105,176,1) 100%);
	padding: 10px 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.head-right{
	position: absolute;
	right: 0;
	top: 0;
}

.header-list{
	list-style-type: square;
	float: left;
}

.header-list li{
	font: 400 12px 'myEmprint', arial;
	color: #fff!important;
	margin-bottom: 2px;
}

.pos-relative{
	position: relative;
}

.top-adjust{
	margin-top: 90px;
}

.main-wrap{
	margin: 0 auto;
	max-width: 1300px;
	padding: 0 10px;
}
.head .navbar {background: transparent!important;}
.head .nav-link{
	margin-right: 25px;
	font: 400 14px 'myEmprint', arial;
	color: #fff!important;
	padding: 5px 0!important;
	border-bottom: 1px solid transparent;
}

.head .nav-link:hover{
	border-bottom: 1px solid #61a8ed;
}
.head .nav-link.active{
	border-bottom: 1px solid #61a8ed;
}
.head .dropdown-toggle::after{
	margin-left: 1em;
}

.head .dropdown-item{
	font: 400 13px 'myEmprint', arial;
}

.top-search{
	font: 400 13px 'myEmprint', arial;
	color: #fff;
	position: absolute;
	top: 6px;
	left: 33%;
	display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  max-width: 25px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;;
}

.top-search:hover{
	max-width: 200px;
}

.top-search a{
	display: flex;
	color: #fff;
}

.top-search img{
	width: 25px;
	height: 25px;
}

.top-search span{
	display: inline-block;
	margin-top: 6px;
}

.stock-label{
	float: left;
	display: flex;
	align-items: center;
	height: 50px;
	font: 400 13px 'myEmprint', arial;
	color: #fff;
	margin-right: 40px;
}

.stock-label span{
	display: inline-block;
	margin: 0 5px;
}

.stock-label span:first-child{
	margin-left: 15px;
}

.icon-up::before {
    content: "\25B2";
	font-size: 15px;
	color: #00FF00;
	display: inline-block;
	margin-top: -5px;
}
/**Top Nav**/
.top-banner-link:hover{
	opacity: 0.9;
}
.page-header{
	font: 400 25px 'myEmprintSb', arial;
	color: #000;
	margin: 25px 0;
	text-transform: uppercase;
}
.sub-heading{
	font: 400 22px 'myEmprintSb', arial;
	color: #00a3e0;
	display: inline-block;
	margin: 35px 0 25px 0;
	border-bottom: 2px solid #00a3e0;
}
.sub-main-head{
	font: 400 25px 'myEmprintSb', arial;
	color: #002f6c;
	margin: 45px 0 25px 0;
	text-align: center;
}
.ex{
	padding: 20px 15px;
	margin-bottom: 20px;
	border-radius: 12px;
	box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
	transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; 
}

.ex:hover{
	
	box-shadow: none;
}

/** For Production Optimization Page **/
.ex-pop{
	border:1px solid #ccc;
	border-bottom: 0;
	border-right: 0;
	padding: 20px 15px;
}

.ex-pop:nth-last-child(2){
	border-right: 1px solid #ccc;
}

.ex-top-pop{
	border-bottom:1px solid #ccc;
	margin-bottom: -1px;
}


.box-head{
	font: 400 14px 'myEmprintSb', arial;
	color: #111122;
	min-height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-img{
	display: block;
}
.box-img img{
	max-width: 80%;
}

.box-img:hover{
	opacity: 0.6;
}

.box-img-1{
	height: 450px;
}

.box-img-2{
	height: 320px;
}

.box-img-3{
	height: 280px;
}
.box-detail-head{
	font: 400 18px 'myEmprintSb', arial;
	color: #111122;
}

.box-detail-text{
	font: 400 15px 'myEmprint', arial;
	color: #111122;
	line-height: 150%;
	margin: 5px 0;
}

.box-list {
	margin: 15px 0 0 35px;
}

.box-list li{
	font: 400 15px 'myEmprint', arial;
	color: #111122;
	margin-bottom: 5px;
}


.border-box{
	border: 1px solid #ccc;
	padding: 15px;
	margin: 30px 0;
}


/*** Network Page ***/

.network-head{
	font: 400 22px 'myEmprintSb', arial;
	color: #fff;
}

.network-top-text{
	font: 400 18px 'myEmprint', arial;
	color: #fff;
	font-style: italic;
	margin-top: 25px;
}

.network-top-text2{
	font: 400 13px 'myEmprintSb', arial;
	color: #fff;
	font-style: italic;
	margin-top: 20px;
}

.head-goal{
	font: 400 26px 'myEmprintSb', arial;
	color: #004e8c;
	margin-bottom: 35px;
	text-align: center;
}
.goal-box{
	box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
	text-align: center;
	height: 100%;
	padding: 40px 20px;
}

.goal-box h3{
	font: 400 16px 'myEmprintSb', arial;
	color: #004e8c;
	min-height: 40px;
}

.goal-box p{
	font: 400 14px 'myEmprint', arial;
	color: #777;
	margin-top: 10px;
	line-height: 150%;
}

.goal-text{
	font: 400 15px 'myEmprint', arial;
	color: #333;
	margin: 60px 0;
	line-height: 150%;
}
.goal-text2{
	font: 400 15px 'myEmprint', arial;
	color: #333;
	line-height: 150%;
	margin-bottom: 40px;
}

.goal-text2 strong{line-height: 110%;}

.goal-img{
	max-width: 100%;
	height: 350px;
}

.goal-img-text{
	font: 400 13px 'myEmprint', arial;
	color: #333;
	margin-top: 30px;
}

.aog-img{
	max-width: 100%;
	height: 280px;
}

/** Global Example CSS **/

.global-top-text{
	font: 400 16px 'myEmprint', arial;
	color: #333;
	font-style: italic;
	text-align: center;
	margin: -10px 0;
}


.global-first{
	background: rgb(111,118,119);
background: linear-gradient(90deg, rgba(111,118,119,1) 0%, rgba(61,79,81,1) 100%);
	min-height: 240px;
	border-radius: 12px;
	margin-bottom: 25px;
	padding: 30px;
	padding-bottom: 0;
}


.global-head{
	font: 400 20px 'myEmprintSb', arial;
	color: #fff;
	text-align: center;
	margin-bottom: 25px;
}

.global-col-text{
	font: 400 16px 'myEmprint', arial;
	color: #fff;
	font-style: italic;
}

.global-link{
	font: 400 14px 'myEmprint', arial;
	color: #fff;
	display: inline-block;
}

.global-link:hover{
	font: 400 14px 'myEmprintSb', arial;
	color: #fff;
}

.global-divider{
	border-bottom: 1px solid #dedede;
	margin: 10px 0 15px 0;
}


.breadcrumb-item {
	font: 400 12px 'myEmprint', arial;
	color: #333;
}

.breadcrumb-item a{
	color: #1262a9;
}

.breadcrumb-item+.breadcrumb-item::before{
	font: 400 12px 'myEmprint', arial;
	color: #333;
}

.breadcrumb-item.active{
	font: 400 12px 'myEmprint', arial;
	color: #333;
}

.tools-link a{
	border-radius: 12px;
    font: 400 14px 'myEmprint', arial;
    color: #fff;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 25px;
    text-align: center;
    background-color: rgb(156, 156, 156);
}



.tools-link a:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


/** Contact **/

.contact-card{
	border-radius: 12px;
	min-height: 250px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 25px;
	padding-bottom: 15px;
	margin-bottom: 25px;
	background-color: #f5f5f5;
}

.cnt-round-img{
	display: inline-block;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	background-color: #e6e3e3;
}

.contact-card h3{
	font: 400 15px 'myEmprintSb', arial;
	color: #333;
	font-style: italic;
	margin: 20px 0 10px 10px;
}

.contact-card h4{
	font: 400 13px 'myEmprint', arial;
	color: #727377;
	margin: 0px 0 15px 10px;
}
.contact-card p{
	font: 400 14px 'myEmprint', arial;
	color: #727377;
	margin: 0px 0 10px 10px;
}

.social-links{
	margin: 0px 0 0px 10px;
}

.social-links a{
	display: inline-block;
	margin-right: 10px;
	font-size: 28px;
}

.social-links a:hover{
	opacity: 0.6;
}

.social-links .fb {color: #4267B2;}
.social-links .tw {color: #1DA1F2;}
.social-links .li {color: #0A66C2;}

/** Footer Start **/

.footer-bg{
	background: rgb(58,57,123);
	background: radial-gradient(circle, rgba(58,57,123,1) 0%, rgba(12,105,176,1) 100%);
	padding: 30px 0;
}

.foot-fix{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

/*****************/
.bg-grey            { background-color: #f4f4f4; padding: 40px 0; }
.blue-bg			{background-color: #61a8ed; padding: 40px 0;}



.txt-darkish { color: #2A3E56; }
.txt-purple { color: #5E23DC; }
.txt-pink { color: #FD4E8D; }


.font40 { font-size: 2.500rem; font-weight: bold; }
.font24 { font-size: 1.500em; font-weight: 100; }
.font30 { font-size: 1.750em; }
.font20 { font-size: 1.250em; }
.font18 { font-size: 1.125em; }
.font14 { font-size: 0.875em; }
.font12 { font-size: 0.750rem; }

.w-60 { max-width: 60%; }
.w-80 { max-width: 80%; }
.w-260 { max-width: 260px; }

.pl-80  { padding-left: 80px; }
.py-60  { padding-top: 60px; padding-bottom: 60px; }
.py-80  { padding-top: 80px; padding-bottom: 80px; }
.py-100 { padding-top: 100px; padding-bottom: 100px; }
.py-125 { padding-top: 125px; padding-bottom: 125px; }
.py-220 { padding-top: 220px; padding-bottom: 220px; }
.pt-200 { padding-top: 200px; }
.mt-100 { padding-top: 100px; }
.mt-70 { padding-top: 70px; }
.mt-150 { padding-top: 150px; }
.pb-50	{padding-bottom: 50px;}

/*****************/

.flex-box		{display: flex; flex-direction: column; justify-content: center;}
.clear 			{ clear: both; height: 0px; line-height: 0px; }
.spacer 		{ clear: both; height: 5px; line-height: 5px; }
.spacer-large 	{ clear: both; height: 10px; line-height: 10px; }
.spacer-huge 	{ clear: both; height: 20px; line-height: 20px; }
.spacer-big	 	{ clear: both; height: 30px; line-height: 20px; }
.spacer-mega 	{ clear: both; height: 40px; line-height: 20px; }
.spacer-wow 	{ clear: both; height: 60px; line-height: 20px; }




@media screen and (max-width: 767px) {
	.head .nav-link{
		margin-top: 10px;
	}

	.box-img-1, .box-img-2, .box-img-3{height: auto;}

	.head-right	{right: 25px; top: 5px;}
}

.hide-stock-logo{
	position: absolute;
    width: 31px;
    z-index: 1;
    background-color: #fff;
    right: 181px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
    top: 16px;
    height: 37px;
}

.tradingview-widget-copyright{
	display: none;
}

.tradingview-widget-container{
	height: 100px!important;
	position: absolute;
    right: 180px;
	top:-19px;
	width: 180px!important;
}

.tv-ticker-item-change__title{
	display: none;
}





:root {
    --calendar-bg-color: #3890bb;
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #1478c9;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #0d304d;
    --calendar-today-color: #0d304d;
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #0d304d;
}

* {
    padding: 0;
    margin: 0;
}

.calendar {
    font-family: 'myEmprint', sans-serif;
    position: relative;
    max-width: 400px; /*change as per your design need */
    min-width: 320px;
    background: rgb(58,57,123);
	background: radial-gradient(circle, rgba(58,57,123,1) 0%, rgba(12,105,176,1) 100%);
    color: var(--calendar-font-color);
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
	border-radius: 12px;
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 20px;
    line-height: 20px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next span,
.calendar .calendar-inner .calendar-controls .calendar-prev span {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
	cursor: pointer;
}

.calendar .calendar-inner .calendar-controls .calendar-next span svg,
.calendar .calendar-inner .calendar-controls .calendar-prev span svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next span svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev span svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}

.view-annoc{
	text-align: center;
}

.view-annoc p{
	margin: 15px 0;
    font: 400 16px 'myEmprintSb', arial;
    color: #333;
}

.announcement-date{
	font: 400 14px 'myEmprint', arial;
    color: #fff;
	font-style: italic;
    background-color: #0d6efd;
    border-color: #0d6efd;
	padding: 15px;
    border-radius: 15px;
	margin-bottom: 25px;
	display: inline-block;
	text-align: center;
}

.announcement-date i{
	margin-bottom: 5px;
}

.announcement-text{
	font: 400 16px 'myEmprint', arial;
    color: #333;
	margin: 20px 0 0px 0;
	text-align: center;
}
